<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!data.weatherForecasts">
	<em>Loading...</em>
</p>

<table class="table" *ngIf="data.weatherForecasts">
	<thead>
	<tr>
		<th>Date</th>
		<th>Temp. (C)</th>
		<th>Temp. (F)</th>
		<th>Summary</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let forecast of data.weatherForecasts">
		<td>{{ forecast.description }}</td>
		<td>{{ forecast.temperature }}</td>
		<td>{{ forecast.windspeed }}</td>
		<td>{{ forecast.cloudCover }}</td>
	</tr>
	</tbody>
</table>